header {
  color: #909090;
  border-bottom: 1px solid #dedede;
  width: 100%;
  float: left;
}
.topHeader {
  height: 30px;
  float: left;
  color: #00c853;
  width: 100%;
  line-height: 30px;
  background-color: #f5f5f5;
}
.topHeader h4 {
  padding: 0;
  margin: 0;
}

.middleHeader {
  height: 50px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.bottomHeader {
  float: left;
  height: 50px;
  width: 100%;
  padding: 10px 0;
}
.middleHeader img {
  display: block;
  object-fit: contain;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.bottomHeader .row {
  width: 100%;
  line-height: 20px;
  flex-direction: row;
}
.bottomHeader .row ul {
  list-style-type: none;
}
.bottomHeader .row .left li,
.bottomHeader .row .right li {
  display: inline-block;
  float: none;
}
.bottomHeader .row ul {
  padding: 0;
  margin: 0;
}
.bottomHeader .row ul.left {
  float: left;
}
.bottomHeader .row ul.right {
  float: left;
}
.left li,
.right li {
  padding: 10px 20px;
}
.bottomHeader .row input {
  width: calc(100% - 50px);
  border-radius: 30px;
  border: none;
  height: 30px;
  padding: 5px 0;
  border: 1px solid #dedede;
  padding-left: 50px;
}
.bottomHeader .row .headerSearch {
  width: calc(100% - 591px);
  float: left;
  margin: 0 auto;

  text-align: center;
}

.bottomHeader .row ul li:hover a {
  color: blue;
  border-bottom: 4px solid #ff9153;
  padding: 10px 0;
}
